///
/// Field Styles.
///


@require "styles/reset"
@require "styles/util"


/// Vars.

// public.
$field-lh   = 1.5
$field-fz   = 14px
$field-bdrz = 4px
$field-bdc  = #d9d9d9
$field-pc   = #673ab7 //#57c5f7
$area-col   = 8

// disabled.
$field-bgc-disabled = #eee
$field-cc-disabled = #bbb

// dark theme.
$field-bgc-dark = #2a2a2a
$field-cc-dark  = #AFAFAF


/// Field preset

field-reset()
  reset-space()
  reset-font()
  reset-theme()


field-preset()
  box bdbox
  lh $field-lh
  fz $field-fz
  w 100%


/// Field default

field()
  field-reset()
  field-preset()

  bd1($field-bdc)
  bdrz $field-bdrz
  pad 0.3em 0.8em

  trans border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s
  
  &:focus
  &:hover
    bdc $field-pc

  &:focus
    outline 0
    shadow 0 0 0 2px rgba($field-pc, 0.16) //rgba(45, 183, 245, 0.2)

  &[disabled]
    bg  $field-bgc-disabled
    cc  $field-cc-disabled
    bdc $field-bdc
    cur not-allowed
    shadow no


area()
  field()
  mih $area-col * 1em
  resize no


/// Dark theme.

field-dark()
  bd1($field-bgc-dark)
  bg $field-bgc-dark
  cc $field-cc-dark

  &:hover
  &:focus
    bdc $field-bgc-dark
  &:focus
    shadow 0 0 0 2px rgba($field-bgc-dark, 0.16)

area-dark()
  field-dark()


/// Exports.
    
field-export($se = "field")
  .{$se}
    field()

area-export($se = "area")
  .{$se}
    field()

field-dark-export($se = "field--dark")
  .{$se}
    field-dark-theme()

area-dark-export($se = "area--dark")
  .{$se}
    area-dark-theme()