/// Field default

field-default()

  bd1($field-bdc)
  bdrz $field-bdrz
  pad 0.3em 0.8em

  transition border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s
  
  &:focus
  &:hover
    bdc $field-pc
      
  //shadow 0 0 0 2px rgba($field-pc, 0.16) //rgba(45, 183, 245, 0.2)

  &[disabled]
    bg  $field-bgc-disabled
    bdc $field-bdc



/// Dark theme.

field-default-dark()
  bd1($field-bgc-dark)
  bg $field-bgc-dark
  cc $field-cc-dark

  &:hover
  &:focus
    bdc $field-bgc-dark


/// Exports.
    
field-export($se = "field-default")
  .{$se}
    field-default()

field-dark-export($se = "field-default--dark")
  .{$se}
    field-dark-theme()