/// Field default

field()
  field-reset()
  field-preset()

  bd1($field-bdc)
  bdrz $field-bdrz
  pad 0.3em 0.8em

  transition border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s
  
  &:focus
  &:hover
    bdc $field-pc

  &:focus
    outline 0
    //shadow 0 0 0 2px rgba($field-pc, 0.16) //rgba(45, 183, 245, 0.2)

  &[disabled]
    bg  $field-bgc-disabled
    cc  $field-cc-disabled
    bdc $field-bdc
    cur not-allowed
    shadow no


area()
  &-area
    mih $area-col * 1em
    resize no


/// Dark theme.cd 

field-dark()
  bd1($field-bgc-dark)
  bg $field-bgc-dark
  cc $field-cc-dark

  &:hover
  &:focus
    bdc $field-bgc-dark
  &:focus
    shadow 0 0 0 2px rgba($field-bgc-dark, 0.16)


/// Exports.
    
field-export($se = "field")
  .{$se}
    field()

area-export($se = "field")
  .{$se}
    area()

field-dark-export($se = "field--dark")
  .{$se}
    field-dark-theme()